
<main>
  <div>
    <h1>Eat-Da-Burger!</h1>
  </div>

  <div class="div-table">
    
    {{!-- Section for burgers not devoured yet --}}
    <div class="div-row">
        <div class="div-col">
            <ul class="list-group">
            {{#each burgers}}
              {{#unless this.devoured}}
                <li class="list-group-item">
                <div class="input-group">
                  <span class="burgerList"> {{this.burger_name}} </span>
                  <span class="input-group-btn">
                    <form action="burgers/update/{{this.id}}?_method=PUT" method="POST" style='display:inline'>
                      <input type="hidden" name="devoured" value="true">
                      <button class="btn btn-default btn-lg" id="devour-button" type="submit" data-id="{{id}}" data-newdevour="{{devour}}">Devour It!</button>
                    </form>
                  </span>
                </div>
              </li>
              {{/unless}}
            {{/each}}
            </ul>
        </div>


    {{!-- Section for devoured burgers --}}
        <div class="div-col">
            <ul class="list-group">
            {{#each burgers}}
                {{#if this.devoured}}
                <li class="list-group-item">
                    <p class="burgerList">{{this.burger_name}} </p>
                </li>
                {{/if}}
            {{/each}}
            </ul>
        </div>
    </div>
</div>

    <div class='row'>

        <h2>Add a Burger!</h2>
        <div class="row">
            <div class="col-sm-12 form-group">
                <form class="create-form" >
                    <input type="text" id="burger_name" name="burger_name" placeholder="Delicious Burger">
                    <button type="submit" class="addBurger">Submit</button>
                </form>
            </div>
        </div>
    </div>
</main>


